<mat-toolbar color="primary">
  <div  class="w-8/12 m-auto">
    <mat-toolbar-row >

  <span class="example-spacer"></span>
    <button mat-button color="second">
      <mat-icon>location_on</mat-icon>Av.lalala</button>
    <button mat-button color="second">
      <mat-icon>call</mat-icon>546546544</button>
    <button mat-button color="second">
      <mat-icon>mail</mat-icon>{{mail}}</button>
  </mat-toolbar-row>
  </div>
</mat-toolbar>
<mat-toolbar color="second">
  <div  class="w-8/12 m-auto h-24 align-middle pt-3" matRipple
  [matRippleRadius]="100"
  [matRippleUnbounded]="true">
    <mat-toolbar-row>

      <a href="#"><img src="/assets/logo.jpg" class="w-28 mr-4" alt="" srcset=""></a>
      <span class="example-spacer"></span>
      <button mat-button color="primary" class="" >QUIENES SOMOS</button>
      <button mat-button color="primary">PRODUCTOS</button>
      <button mat-button color="primary">CONTACTO</button>
    </mat-toolbar-row>
  </div>
</mat-toolbar>
