#footer-2 {
  width: 100%;
  height: 110px;
  background-color: var(--negro);
}
#footer-1 {
  width: 100%;
  height: 290px;
  align-items: center;
  background-color: var(--gris);
}
.contacts {
    color: var(--gris-claro);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    text-decoration: none !important;
    margin-bottom: 18px;
}
.contacts i {
  margin-right: 8px;
}

.titulo{
    color: var(--ocre);
}
.tituloinmo{
  color:  var(--naranja);
}
#nav{
  display: flex;
  margin: auto;
  padding-top: 50px;
  justify-content: space-between;
}
#menu{
  text-align: right;
}
#menu a{
  cursor: pointer;
}
@media (max-width: 1200px) {
  #footer-1{
    width: auto;
  }
}
@media  (max-width: 1200px) {
  .contacts {
    font-size: 15px;
}
}
