
<div id="filtros">
  <mat-chip-listbox  aria-label="Color selection">
    <mat-chip-option (selectionChange)="change(0)" selected value=chip.id>Principales</mat-chip-option>
    @for (chip of filtros; track chip;let it = $index) {
      <mat-chip-option (selectionChange)="change(it+1)" value=chip.id>{{chip}}</mat-chip-option>
    }
  </mat-chip-listbox>
  
</div>
<div id="gallery">
  @for(i of miArreglo; track i;let it = $index){
  <div>
      <img [alt]="i.caption" [src]="i.src" style="cursor: pointer;" (click)="open(it)"/>
  </div>
  }
</div>


