<div class="flex-column-center limit-1200 margin-auto">
  <div class="flex-grid mbottom-40 mtop-40">
    <img
      id="img-title"
      src="assets/lugra/inicio/restaurant.jpg"
      alt="Restaurant de Lugra Hotel"
    />
    <div class="content-title">
      <p class="roboto-medium ocre">NUEVO SERVICIO</p>
      <div>
        <p class="roboto-medium size-48">CENA DE BIENVENIDA EN</p>
        <p class="roboto-medium size-48 ocre">RESTAURANT JURERÉ</p>
      </div>
      <p class="roboto-regular mbottom-40">a 700mts de Lugra Hotel</p>
      <div class="mbottom-60"></div>
      <p class="roboto-regular mtop-40">
        Servicio sin cargo incluido entre el 27/12/2025 y el 26/02/2026.<br />
        No incluye cenas de Navidad y Año Nuevo.
      </p>
    </div>
  </div>
  <div class="left mbottom-40" style="width: 100%;">
    <p class="roboto-medium size-43" style="max-width: 1000px;">
      Ya no tenes que preocuparte por buscar restaurantes
    </p>
    <div class="bar-ocre"></div>
  </div>

  <div class="flex-grid mbottom-40">
    <div class="center cuadrante">
      <p class="roboto-medium ocre">OPCIÓN 1</p>
      <p class="title-39">Salón Ildo Protti</p>
      <p class="roboto-regular center size-19 ">
        Podés almorzar o cenar en nuestro salón Ildo Protti, utilice los
        servicios de diferentes restaurantes de nuestra ciudad.
      </p>
      <div class="mbottom-40"></div>
      <p class="roboto-regular center size-19">
        Servicio de Mesa con Cargo<br />Consulte en Recepción
      </p>
      <div class="bar-ocre margin-auto"></div>
    </div>
    <div class="center cuadrante">
      <p class="roboto-medium ocre">OPCIÓN 2</p>
      <p class="title-39">Restaurant Jureré</p>
      <p class="roboto-regular center size-19">
        Almorzá o cená en Restaurant Jureré. A solo 700 mts de Lugra Hotel.
      </p>
      <div class="mbottom-60"></div>
      <p class="roboto-regular center size-19">Consulte en Recepción</p>
      <div class="bar-ocre margin-auto"></div>
    </div>
  </div>
  <div class="flex-grid">
    <div class="left ">
      <p class="title-39 left p-0">Menú de Restaurant Jureré</p>

      <p class="roboto-regular left">
        Carta a pasos con entrante, postre y bebida incluidas.
      </p>
    </div>
    <div id="horarios" class="left">
      <p class="roboto-medium">Horarios de Ingreso:</p>
      <p class="roboto-regular">12:30 a 13:45<br />20:30 a 21:45</p>
    </div>
  </div>
  <div class="left mbottom-40" style="width: 100%;"> <div class="bar-ocre"></div></div>
 
  <div class="flex-grid mbottom-40">
    <div class="left">
      <p class="roboto-medium size-31">Nuestros Fiambres</p>
      <p class="roboto-regular">
        - Jamón Cocido con Ensalada Rusa<br />
        - Tomate Relleno<br />
        - Salpicón de Ave<br />
        - Pollo en Escabeche<br />
        - Fiambre del Día
      </p>
    </div>
    <div class="left">
      <p class="roboto-medium size-31">Los Platos Principales</p>
      <p class="roboto-regular">
        - Ravioles a la Bolognesa, Tuco o Manteca<br />
        - Filet de Merluza con Puré<br />
        - Milanesa de Pollo con Papas Fritas<br />
        - Pollo Grillé con Guarnición<br />
        - Plato del Día
      </p>
    </div>
    <div class="left">
      <p class="roboto-medium size-31">Postres o Café</p>
      <p class="roboto-regular">
        - Flan al Caramelo<br />
        - Helado Mixto<br />
        - Budín de Pan<br />
        - Postre del Día
      </p>
    </div>
  </div>
  <p>Incluye Gaseosa, Agua o Copa de Vino.</p>
</div>
