<app-gallery-horizontal-paralax></app-gallery-horizontal-paralax>

<div class="items-center">
  <div id="nosotros" class="limit-1200 fondo-piel margin-auto">
    <p class="title-39">Sobre Nosotros</p>
    <p id="subtitulo" class="title-25 italic">
      "Somos una empresa que trabaja con orgullo en el camino de la excelencia
      proyectándose y creciendo con éxito junto a sus proveedores y clientes."
    </p>
    <div class="tarjeta limit-1100">
      <p class="roboto-regular">
        Innovación e imaginación son los valores centrales que guían a nuestra
        organización. Primero el cliente. Desarrollar soluciones totales para el
        cliente. Ser flexibles, rápidos y creativos. Valorar y respetar a
        nuestra gente y su diversidad de opiniones. Esa diversidad da fuerza a
        nuestra empresa. Somos una organización en constante aprendizaje, con
        capacidad de rápidos cambios y de crear una comunicación abierta y
        directa. Preservar la mayor integridad y honestidad. Alentamos a nuestro
        personal a expresarse libremente. Brindar la mas alta calidad en todo lo
        que hacemos. Pensar globalmente. Estamos en constante búsqueda de nuevas
        oportunidades provenientes de las mas diversas regiones, culturas y
        clientes. Disfrutamos de las posibilidades que el trabajo nos ofrece.
        Somos independientes y respetuosos de la responsabilidad que han puesto
        en nuestras manos. Somos cuidadosos, pero valoramos la búsqueda de
        nuevos desafíos. Reconoceremos el esfuerzo, los resultados, y
        compartiremos el éxito.
      </p>
      <img src="assets/lugra/logo-50.png" alt="Fotos motivadora" />
    </div>
    <p class="title-39">¡Te invitamos a ver el video de nuestros 50 años!</p>
    <video style="margin-bottom: 20px;" width="100%" class="limit-1100" controls>
      <source src="assets/galeria/LUGRA EXPORT FINA 720.mp4" type="video/mp4">
      Tu navegador no soporta la reproducción de video.
    </video>
    <div class="tarjeta limit-1100">
      <img src="assets/galeria/Historia/Historia4.jpg" alt="Foto historica" />
      <p class="roboto-regular">
        Al iniciar su primera temporada en 1973 el LUGRA HOTEL MIRAMAR,
        concretaban sus mejores sueños Clara e Ildo Protti, que habían invertido
        en este proyecto, recursos surgidos del trabajo de toda una vida.
        Uniendo las sílabas de los nombres de Luis y Graciela, sus hijos,
        bautizaron así, a esta segunda casa que fundaran para recibir en ella a
        los visitantes de Miramar. Como buenos anfitriones se empeñaron en
        lograr mucho más que un correcto servicio de hotelería. La idea que
        prevaleció fue la de hacer sentir un grato clima familiar en los días de
        descanso, vacaciones anuales o visitas ocasionales a Miramar. Una serena
        sonrisa es, seguramente, lo que se espera en la atención del personal de
        un buen hotel para con sus pasajeros; LUGRA HOTEL MIRAMAR la ofrece,
        junto a la eficiencia. Por todo ello decimos que ésta será SU casa en
        Miramar.
      </p>
    </div>
    <br>
    <br>
  </div>
</div>

