<div class="content flex-column">
  <iframe
    class="iframe-map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6264.770589620451!2d-57.84187800642086!3d-38.270560499999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9585107c4c1f4227%3A0xb5a8c9c41646aac1!2sLugra%20Hotel!5e0!3m2!1ses!2sus!4v1751380629362!5m2!1ses!2sus"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <div class="flex-row">
    <app-formulario class="width70"></app-formulario>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Contactanos</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <div class="sep">
          <i class="fa fa-envelope"></i>
          <a href="mailto:{{ mailLugra }}">{{ mailLugra }}</a>
        </div>
        <div class="sep">
          <i class="fa fa-phone-square"></i>
          <a href="tel:2291432325">2291-432325</a>
        </div>
        <div class="sep">
            <i class="fa fa-phone-square"></i>
            <a href="tel:2291431766">2291-431766</a>
          </div>
        <div class="sep">
        <i class="fab fa-whatsapp"></i>
          <a
            href="https://wa.me/542291451314"
            target="_blank"
            >2291-451314</a
          >
        </div>
        <div class="sep">
        Estamos a tu disposicion
    </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
