<header #Menu id="header" class="sticky-top header-scrolled{{colorClass}}">
    <div class="principal-navbar d-flex align-items-center">
      <a
        routerLink=""
        (click)="navigateAndScrollTo('/', '#inicio')"
        class="logo me-auto"
      >
        <img [src]= "logo"  alt="" class="img-fluid" />
        <h2 id="lema" [innerHTML]="lema"> </h2>
      </a>
      <nav id="navbar" class="navbar" #navbar>
        <ul>
          <img
            [src]= 'logo'
            class="img-fluid logo-mobile"
            alt=""
          />
          @for(navItem of menuItemsList; track navItem){
          <li>
            <a
              class="nav-link scrollto {{navItem.active?'active-link '+ colorClass:''}}"
              [routerLink]="navItem.routerLink"
              (click)="navigateAndScrollTo(
                navItem.linkPrimeraRuta,
                navItem.link,
                navItem.effectBehavior
              )"
              >{{ navItem.name }}</a
            >
          </li>
          }
        </ul>
        <i class="fa fa-list mobile-nav-toggle" (click)="toggleNavbar()"></i>
      </nav>
    </div>
  </header>
  