<header #Menu id="header" class="sticky-top header-scrolled">
  <div class="principal-navbar d-flex align-items-center">
    <a
      routerLink=""
      (click)="navigateAndScrollTo('/', '#inicio')"
      class="logo me-auto"
    >
      <img src="./assets/lugra/SVG/logo_lugra.svg" alt="" class="img-fluid" />
      <h2 id="lema">Más de 50 años<br />Brindando la más alta calidad</h2>
    </a>
    <nav id="navbar" class="navbar" #navbar>
      <ul>
        <img
          src="./assets/lugra/SVG/logo_lugra.svg"
          class="img-fluid logo-mobile"
          alt=""
        />
        @for(navItem of menuItemsList; track navItem){
        <li>
          <a
            class="nav-link scrollto {{navItem.active?'active-link':''}}"
            [routerLink]="navItem.routerLink"
            (click)="navigateAndScrollTo(
              navItem.linkPrimeraRuta,
              navItem.link,
              navItem.effectBehavior
            )"
            >{{ navItem.name }}</a
          >
        </li>
        }
      </ul>
      <i class="fa fa-list mobile-nav-toggle" (click)="toggleNavbar()"></i>
    </nav>
  </div>
</header>
