@if(selected > 0) {
    <div  class="flechas izq  bi bi-carret-left-fill" (click)="cambiar(-1)">
        <h1 class="bi bi-caret-left-fill"></h1>
    </div>
}
@if(selected < 3) {
    <div class="flechas der "  (click)="cambiar(1)">
        <h1 class="bi bi-caret-right-fill"></h1>
    </div>
}
<div class="container-lista">

   
  @for(objeto of lista; track $index) {
  <div class="sucursal {{addClassHide($index)}}">
    <img src="{{directorioImgs}}{{objeto.image}}" [alt]="objeto.nombre" />
    <div class="sucursal-textos">
      <p class="direccion bi bi-geo-alt" [innerHTML]="objeto.descripcion"></p>
    </div>
    
  </div>
  }
</div>