<div class="nav-top" data-id="text" data-width="stretch">
    <div class="nav-top-primary limit-1200">
      <h6 class="text-decoration-none" style="text-decoration: none !important;">
        <i style="margin-left: 0;">
          <img
            src="assets/lugra/SVG/icono_mail_ocre.svg"
            alt="Email"
            class="img-icono"
            style="margin-left: 0;"
          />
        </i>
        <a href="https://wa.me/542291451314" target="_blank" style="color: #25D366; text-decoration: none;">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="tel:2291431766">2291-431766</a>
        <a href="https://wa.me/542291451314" target="_blank">2291-451314</a>
      </h6>
      <div id="botones">
        <a href="https://www.instagram.com/lugrahotel_miramar?igsh=aG1naXhkdDIwMjRx&utm_source=qr" target="_blank"
          ><img
            src="assets/lugra/SVG/icono_instagram_negro.svg"
            alt="Facebook"
            class="img-icono redes"
        /></a>
        <a href="https://www.facebook.com/LugraHotelMiramar/" target="_blank"
          ><img
            src="assets/lugra/SVG/icono_facebook_negro.svg"
            alt="Instragram"
            class="img-icono redes"
        /></a>
      </div>
    </div>
  </div>