<div class="nav-top" data-id="text" data-width="stretch">
    <div class="nav-top-primary limit-1200">
        <a href="tel:2291431766" target="_blank">
            <fa-icon [icon]="faPhone"/>
            2291-431766
        </a>
        <a href="https://wa.me/542291451314" target="_blank">
            <fa-icon [icon]="faWhatsapp"/>
            2291-451314
        </a>
        <a href="https://www.instagram.com/lugrahotel_miramar?igsh=aG1naXhkdDIwMjRx&utm_source=qr" target="_blank"
          ><fa-icon [icon]="faInstagram"/>
        </a>
        <a href="https://www.facebook.com/LugraHotelMiramar/" target="_blank"
          ><fa-icon [icon]="faFacebook"/></a>
    </div>
</div>