* {
  color: var(--blanco);
}
.nav-top {
  background-color: var(--naranja);
  border-bottom: var(--gris) solid;
  border-width: 1px;
  display: flex;
  height: 50px;
  justify-content: center;
}
.nav-top * {
  font-family: "Roboto";
}
.nav-top-primary {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: auto;
}


.nav-top-primary * {
  font-size: 19px;
  margin-left: 8px;
  height: 100%;
}

@media (max-width: 1200px) {
  .nav-top {
    height: auto;
  }
  .nav-top-primary {
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .nav-top-primary * {
    height: auto;
  }
}
@media (max-width: 600px) {
    .nav-top-primary * {
        font-size: 15px;
      }
    }