<div id="footer-1">
  <div id="nav" class="limit-1200">
    <div class="sections">
      <h6 class="contacts titulo">Contacto</h6>
      <h6 class="contacts">
        <i style="margin-left: 0;">
          <img
            src="assets/lugra/SVG/icono_mail_gris.svg"
            alt="Email"
            class="img-icono"
            style="margin-left: 0;"
          />
        </i>
        <a href="mailto:{{ mailLugra }}">{{ mailLugra }}</a>
      </h6>
      <h6 class="contacts">
        <i>
          <img
            src="assets/lugra/SVG/icono_numero_gris.svg"
            alt="Telefonos"
            class="img-icono"
          />
        </i>
        <a href="tel:2291432325">2291-432325</a> /
        <a href="tel:2291431766">2291-431766</a>
      </h6>
      <h6 class="contacts">
        <i>
          <img
            src="assets/lugra/SVG/icono_whatsapp_gris.svg"
            alt="Whatsapp"
            class="img-icono"
          /> </i
        ><a href="https://wa.me/542291451314" target="_blank">2291-451314</a>
      </h6>
      <h6 class="contacts">
        <i>
          <img
            src="assets/lugra/SVG/icono_ubicacion_gris.svg"
            alt="Ubicacion"
            class="img-icono"
          /> </i
        ><a href="https://maps.app.goo.gl/762pbxJV6WdqYfzE6" target="_blank"
          >Diag. Arturo Illia 856. Miramar, Buenos Aires, Argentina.</a
        >
      </h6>
    </div>
    <div id="menu" class="sections">
      @for (navItem of menuItems; track $index) {
      <h6 class="contacts">
        <a
          (click)="
            navigateAndScrollTo(
              navItem.linkPrimeraRuta,
              navItem.link,
              navItem.effectBehavior
            )
          "
          >{{ navItem.name }}</a
        >
      </h6>
      }
    </div>
  </div>
</div>
<div id="footer-2"></div>
