<div class="nav-top" data-id="text" data-width="stretch">
  <div class="nav-top-primary limit-1200">
    <h6 class="text-decoration-none" style="text-decoration: none !important;">
      <i style="margin-left: 0;">
        <img
          src="assets/lugra/SVG/icono_mail_ocre.svg"
          alt="Email"
          class="img-icono"
          style="margin-left: 0;"
        />
      </i>
      <a href="mailto:{{ mailLugra }}">{{ mailLugra }}</a
      >&nbsp;
      <i>
        <img
          src="assets/lugra/SVG/icono_numero_ocre.svg"
          alt="Telefonos"
          class="img-icono"
        />
      </i>
      <a href="tel:2291432325">2291-432325</a> /
      <a href="tel:2291431766">2291-431766</a>
      <i>
        <img
          src="assets/lugra/SVG/icono_whatsapp_ocre.svg"
          alt="Whatsapp"
          class="img-icono"
        /> </i
      ><a href="https://wa.me/542291451314" target="_blank">2291-451314</a>
    </h6>
    <div id="botones">
      <a href="https://www.instagram.com/lugrahotel_miramar?igsh=aG1naXhkdDIwMjRx&utm_source=qr" target="_blank"
        ><img
          src="assets/lugra/SVG/icono_instagram_negro.svg"
          alt="Facebook"
          class="img-icono redes"
      /></a>
      <a href="https://www.facebook.com/LugraHotelMiramar/" target="_blank"
        ><img
          src="assets/lugra/SVG/icono_facebook_negro.svg"
          alt="Instragram"
          class="img-icono redes"
      /></a>
      <a id="btn-reservas" href="tel:2291432325">
        RESERVAR
      </a>
    </div>
  </div>
</div>
