<div class="nav-top" data-id="text" data-width="stretch">
  <div class="nav-top-primary">
    <h6 class="text-decoration-none" style="text-decoration: none !important;">
      <i class="fa fa-envelope"></i>
      <a href="mailto:{{mailLugra}}">{{mailLugra}}</a>&nbsp;
      | &nbsp;<i class="fa fa-phone-square"></i>
      <a href="tel:2291432325">2291-432325</a>&nbsp; -&nbsp;
      <a href="tel:2291431766">2291-431766 / Wp:</a>&nbsp;<a
        href="https://wa.me/542291451314" target="_blank"
        >2291-451314</a
      >
    </h6>
  </div>
</div>
